body {
  font-family: 'Anek Tamil', sans-serif;
  background-color: #F9F8EB;
  margin: 0
}
/* footer */
.bi {
  vertical-align: -.125em;
  color: inherit;
}
.nav flex-column {
  color:#403F48;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}
/* header */
.navbar-brand {
  font-family: 'Tenor Sans', sans-serif;
  color: #403F48;
  margin-left: 10px;
}
.navbar-brand:link, .navbar-brand:visited {
  color: #403F48;
}
.toplink:hover {
  border-style: none;
  border-radius: 0.25rem;
  color: #F9F8EB;
  background-color: #5C8D89;
}
.sunimg {
  width: 10%;
}
.input-field {
  width: 100%;
  margin-top: 1rem;
}
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

input[type="search"]{
  padding-left: 2.5rem;
}

a {
  color: #403F48;
}

a:hover {
  color: #403F48;
  text-decoration: none;
}

.d-block {
  width: 100%;
  height: 75vh;
}

.book {

  text-align: center;
}

/* .bagbadge {
  color: black;
  margin-left: 0.5rem;
  border-radius: 10px 100px / 120px;
} */

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
