body {
  font-family: 'Anek Tamil', sans-serif;
  background-color: #F9F8EB;
}

/* other */
.d-block {
  width: 100%;
  height: 75vh;
}

/* Buttons */
a {
  color: #403F48;
}

a:hover {
  color: cadetblue;
  text-decoration: none;
}

.toplink:hover {
  border-style: none;
  border-radius: 0.25rem;
  color: #F9F8EB;
  background-color: cadetblue;
}

.underlinelink:hover {
  text-decoration: underline;
}

.btnstandard {
  border-style: none;
  border-radius: 0.25rem;
  padding: 5;
  color: #F9F8EB;
  background-color: cadetblue;
}

.btnstandard:hover {
  border-style: none;
  border-radius: 0.25rem;
  color: #F9F8EB;
  background-color: cadetblue(75, 153, 153);
}

/* Top Bar Promo */
.topbar {
  background-color: #403F48;
  color: #FFF0F0;
  text-align: center;
  font-family: 'Anek Tamil', sans-serif;
  font-size: 80%;
  height: 2rem;
}

.offer {
  padding: 0.5rem;
}

/* Search Bar */
.input-field {
  width: 100%;
  margin-top: 1rem;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

input[type="search"]{
  padding-left: 2.5rem;
}

/* Mission Poster */
.poster {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}