body {
  font-family: 'Anek Tamil', sans-serif;
  background-color: #F9F8EB;
}
/* topbar: offer and free shipping info */
.topbar {
  background-color: #403F48;
  color: #FFF0F0;
  text-align: center;
  font-family: 'Anek Tamil', sans-serif;
  font-size: 80%;
  height: 2rem;
}
.offer {
  padding: 0.5rem;
}
/* footer */
.bi {
  vertical-align: -.125em;
  color: inherit;
}
.nav flex-column {
  color:#403F48;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}
/* header */
.navbar-brand {
  font-family: 'Tenor Sans', sans-serif;
  color: #403F48;
  margin-left: 10px;
}
.navbar-brand:link, .navbar-brand:visited {
  color: #403F48;
}
.toplink:hover {
  border-style: none;
  border-radius: 0.25rem;
  color: #F9F8EB;
  background-color: #5C8D89;
}
.sunimg {
  width: 10%;
}
.input-field {
  width: 100%;
  margin-top: 1rem;
}
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

input[type="search"]{
  padding-left: 2.5rem;
}

a {
  color: #403F48;
}

a:hover {
  color: #403F48;
  text-decoration: none;
}

.d-block {
  width: 100%;
  height: 75vh;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.btn-secondary {
  color: #F9F8EB;
  background-color: #5C8D89;
}

.gen {
  margin-top: 1rem;
}


/* poster */
.poster {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* anchor */
a.anchor {
 
  text-decoration: none;
}
