  <!-- Categories Navigation Bar -->
  <header class="border-bottom">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link underlinelink" style="color:black; font-size:22px" href="../browse/browse.php?category=bestseller">Bestsellers</a>
      </li>
      <p style="font-size: 25px; opacity: 0.3">|</p>
      <li class="nav-item">
        <a class="nav-link underlinelink" style="color:black; font-size:22px;" href="../browse/browse.php?category=new">New In</a>
      </li>
      <p style="font-size: 25px; opacity: 0.3">|</p>
      <a class="nav-link underlinelink" style="color:black; font-size:22px;" href="../browse/browse.php?category=collections">Collections</a>
      </li>
      <p style="font-size: 25px; opacity: 0.3">|</p>
      <li class="nav-item">
        <a class="nav-link underlinelink" style="color:black; font-size:22px;" href="../browse/browse.php?category=fiction">Fiction</a>
      </li>
      <p style="font-size: 25px; opacity: 0.3">|</p>
      <li class="nav-item">
        <a class="nav-link underlinelink" style="color:black; font-size:22px;" href="../browse/browse.php?category=nonfiction">Nonfiction</a>
      </li>
      <p style="font-size: 25px; opacity: 0.3">|</p>
      <li class="nav-item">
        <a class="nav-link underlinelink" style="color:black; font-size:22px;" href="../browse/browse.php?category=classic">Classics</a>
      </li>
      <p style="font-size: 25px; opacity: 0.3">|</p>
      <a class="nav-link underlinelink" style="color:black; font-size:22px;" href="../browse/browse.php?category=all">Browse All</a>
      </li>
    </ul>
  </header>