<header class="py-2 mb-2 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <form class="col-12 col-lg-auto mb-3 mb-lg-0">
      <div class="input-icons">
        <a onclick="processSearch()"><i class="bi bi-search-heart icon" style="font-size: 22px; padding-top: 10px; color: teal;"></i><a>
            <input type="search" id="thesearch" name="thesearch" style="font-size: 20px; width: 700px; height: 40px; padding-left: 60px" class="form-control input-field" placeholder="Search by Title, Author, or Keyword" aria-label="Search">
      </div>
    </form>
  </div>
</header>